[submodule "fugitive.vim"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "python_match.vim"]
	path = .vim/bundle/python_match
	url = git://github.com/vim-scripts/python_match.vim.git
[submodule "repeat.vim"]
	path = .vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "surround.vim"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "kalahari.vim"]
	path = .vim/bundle/theme-kalahari
	url = git://github.com/fabi1cazenave/kalahari.vim.git
[submodule "syntastic.vim"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
