# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitconfig                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: zaz <zaz@staff.42.fr>                      +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2013/06/20 15:51:57 by zaz               #+#    #+#              #
#    Updated: 2013/06/20 15:51:58 by zaz              ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim
[user]
	name = Adrien Pachkoff
	email = apachkof@student.42.fr
