;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;

prefix = /nfs/zfs-student-5/users/2013/apachkof/.npm-packages

;;;;
; all options with default values
;;;;
; always-auth = false
; bin-links = true
; browser = null
; ca = null
; cache = /nfs/zfs-student-5/users/2013/apachkof/.npm
; cache-lock-stale = 60000
; cache-lock-retries = 10
; cache-lock-wait = 10000
; cache-max = null
; cache-min = 10
; cert = null
; color = true
; depth = null
; description = true
; dev = false
; editor = vi
; email = 
; engine-strict = false
; force = false
; fetch-retries = 2
; fetch-retry-factor = 10
; fetch-retry-mintimeout = 10000
; fetch-retry-maxtimeout = 60000
; git = git
; git-tag-version = true
; global = false
; globalconfig = /nfs/zfs-student-5/users/2013/apachkof/.npm-packages/etc/npmrc
; group = 4207
; heading = npm
; ignore-scripts = false
; init-module = /nfs/zfs-student-5/users/2013/apachkof/.npm-init.js
; init.author.name = 
; init.author.email = 
; init.author.url = 
; init.license = ISC
; json = false
; key = null
; link = false
; local-address = undefined
; loglevel = http
; long = false
; message = %s
; node-version = v0.10.26
; npat = false
; onload-script = false
; optional = true
; parseable = false
; prefix = /usr/local
; production = false
; proprietary-attribs = true
; proxy = null
; https-proxy = null
; user-agent = node/v0.10.26 darwin x64
; rebuild-bundle = true
; registry = https://registry.npmjs.org/
; rollback = true
; save = false
; save-bundle = false
; save-dev = false
; save-optional = false
; searchopts = 
; searchexclude = null
; searchsort = name
; shell = /bin/zsh
; shrinkwrap = true
; sign-git-tag = false
; strict-ssl = true
; tag = latest
; tmp = /var/folders/zz/zyxvpxvq6csfxvn_n0000k6m0004jn/T/
; unicode = true
; unsafe-perm = true
; usage = false
; user = 4661
; username = 
; userconfig = /nfs/zfs-student-5/users/2013/apachkof/.npmrc
; umask = 18
; version = false
; versions = false
; viewer = man
; _exit = true
; globalignorefile = /nfs/zfs-student-5/users/2013/apachkof/.npm-packages/etc/npmignore
